extends layout.pug
    
block content
    h1  Yor-Sounds  🎧
    <p> Ongoing research project at the University of York. For queries/questions, email noah.henry@york.ac.uk.
    <p>
    a(href="/authorize") Log in