extends layout.pug
    
block content
    h1 UoY research app
    <p> Research-based app for feature extraction based on contextual listening practices. 
    <p> Welcome! This is a research app designed and built my PhD researcher, Noah Henry (noah.henry@york.ac.uk) at the University of York.
    <p> Currently, this app is in development and not publicly available. Please click the Log in button if you think you should have access!
    <p>
    a(href="/authorize") Log in